@use '../utilities/variables' as var;

.card {
    background-color: var.$card-bkgd-color;
    padding: 4rem 2rem;
    margin-inline: 1rem;
    border-radius: 8px;
    text-align: center;
    max-width: 380px;
    box-shadow: var.$shadow;

    &__title {
        padding-block: 2rem;
    }

    &__para {
        max-width: 30ch;
        margin-inline: auto;
    }
}