@use 'typography' as type;
@use '../utilities/variables' as var;
@import '../../node_modules/open-props/easings.min.css';

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    font-family: type.$font;
    font-size: type.$body-font;
    line-height: type.$line-h;
}

ul {
    list-style: none;
    padding-inline: 0;
}

a {
    color: black;
}

a:hover, a:focus {
    text-decoration: none;
}

h1 {
    font-weight: type.$h1-wght;
    font-size: type.$large-font;
}

h2 {
    font-weight: type.$h2-wght;
    font-size: type.$medium-font;
}

nav {
    font-weight: type.$nav-wght;
    font-size: type.$nav-font;
}

*:focus {
    outline: 2px dashed black;
}



