@use 'typography' as type;
@use '../utilities/variables' as var;

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    font-family: type.$font;
    line-height: type.$line-h;
}

ul {
    list-style: none;
    padding-inline: 0;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-weight: type.$h1-wght;
    font-size: clamp(42px, 5vw,52px);
}

h2 {
    font-weight: type.$h2-wght;
    font-size: clamp(28px, 3vw, 32px);
}

nav {
    font-weight: type.$nav-wght;
}

*:focus {
    outline: 1px dashed var.$accent-color;
}



