
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
}

$font: 'Montserrat', 'Open Sans', sans-serif;

/* font weights */
$h1-wght: 700;
$h2-wght: 600;
$nav-wght: 700;
$p-wght: 400;

$line-h: 1.5;

/* font size */
$large-font: clamp(42px, 5vw,52px);
$medium-font: clamp(28px, 3vw, 32px);
$nav-font: 18px;
$body-font: clamp(14px, 1vw, 16px);
