@use '../utilities/variables' as var;
@use '../base/typography' as type;

.get-started {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
    margin-block-start: 5rem;

    @media (min-width: 1300px) {
        flex-direction: row;
        justify-content: center;
        
    }

    &__title {
        width: 100%;
        text-align: center;
        margin-block: 6rem 10rem;
    }

    .first {
        align-self: flex-start;


        &::before {
            content: '1';
            font-size: 64px;
            font-weight: type.$h1-wght;
        }
    }

    .second {
        align-self: center;

        &::before {
            content: '2';
            font-size: 64px;
            font-weight: type.$h1-wght;
        }
    }

    .third {
        align-self: flex-end;

        &::before {
            content: '3';
            font-size: 64px;
            font-weight: type.$h1-wght;
        }
    }

    @media (min-width: 1300px) {
        .first, .second, .third {
            align-self: stretch;
        }
    }
}