@use '../utilities/variables' as var;

.nav {
    width: 100%;
    background-color: var.$card-bkgd-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var.$shadow;

    @media (min-width: 1300px) {
        justify-content: space-around;
    }

    &__comp-name {
        color: var.$accent-color;
        margin: 0 1rem;
        font-size: 26px;
    }

    &__nav-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        margin: 1rem;
        height: 150px;

        @media (min-width: 800px) {
            flex-direction: row;
            align-items: center;
            gap: 4rem;
            height: auto;
        }
    }
    
    &__link-container {
        position: relative;
        overflow: hidden;

        &::after {
            content:'';
            position: absolute;
            bottom: 0;
            right: -60px;
            width: 30px;
            height: 4px;
            border-radius: 8px;
            background-color: var.$accent-color;
            transform: translateX(0);
            transition: transform 500ms var(--ease-squish-1);
        }
    }

    &__link-container:hover,
    &__link-container:focus-within {
        &::after {
            content:'';
            transform: translateX(-60px);
        }
    }

    
}
